.update {
  text-align: center;
  height: auto;
  display: flex;
  position: relative;
}

.update #update-detail {
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  padding: 20px 30px;
  border-radius: 10px;
  height: 100%;
  border: 1px solid #cfcfcf;
}
.update .updateDetail_container {
  height: 120%;
}
.update .title_container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.update .checkbox {
  width: 1.5rem;
  height: 1.5rem;
}
.update .title {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin-block: 0.8rem;
}

.update .title-update {
  height: 1.2rem;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 6px;
  border: none;
  display: flex;
  width: 90%;
  margin-bottom: 40px;
}

.update .content {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: left;
  margin-block: 0.8rem;
}

.update .content-update {
  margin-bottom: 1rem;
  background-color: ghostwhite;
  padding: 10px;
  border-radius: 6px;
  border: none;
  display: flex;
  width: 90%;
  height: 200px;
}

.update .cancel {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  height: 70px;
  width: 100px;
  text-shadow: 2px 2px 2px gray;
}

.update .updateButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  height: 70px;
  width: 100px;
  text-shadow: 2px 2px 2px gray;
}

.update .btn_container {
  margin: 10px 0;
  display: flex;
  gap: 20px;
  justify-content: center;
}

button,
input[type="submit"] {
  background-color: transparent;
  border: 1px solid #cfcfcf;
  border-radius: 0.2rem;
  padding: 0.5rem;
}

button:hover,
input[type="submit"]:hover:not(:disabled),
input[type="checkbox"]:hover:not(:disabled) {
  background-color: lightgray;
  cursor: pointer;
}
